{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block main %}
<form method='POST' action=''>{% csrf_token %}
<div class="row"> <!-- Cabecalho da página de Listas -->
    <div class="col-sm-3">
        <h4>Adicionar Fornecedor</h4>
    </div>   
    <div class="col-sm-7">
    </div>   
    <div class="col-sm-1 text-center">
        <button title='Adicionar Fornecedor' class='btn btn-primary btn-sm' type='submit'>
          <span class="glyphicon glyphicon-check"></span>
        </button>
    </div>
    <div class="col-sm-1 text-center">
        <button title='Listar Fornecedor' class='btn btn-primary btn-sm' type='submit' formaction="{% url 'fornecedor:lista' %}">
          <span class="glyphicon glyphicon-list"></span>
        </button>
    </div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
  <hr>
	<div class="row">
  		<div class="col-sm-4">
    		<p><strong>Razão Social</strong></p>
    		<p>{{form.razaosocial}}</p>
  		</div>
  		<div class="col-sm-4">
    		<p><strong>Nome Fantasia</strong></p>
    		<p>{{form.nomefantasia}}</p>
  		</div>
  		<div class="col-sm-4">
    		<p><strong>CNPJ</strong></p>
    		<p>{{form.cnpj}}</p>
  		</div>
	</div>
</div>
  <div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 2-->
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Atividade</strong></p>
        <p>{{form.atividade}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Estado</strong></p>
        <p>{{form.estado}}</p>      
      </div>
      <div class="col-sm-4">
        <p><strong>Cidade</strong></p>
        <p>{{form.cidade}}</p>      
      </div>
  </div>
  </div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 2-->
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Endereco</strong></p>
        <p>{{form.endereco}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Número</strong></p>
        <p>{{form.numero}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Complemento</strong></p>
        <p>{{form.complemento}}</p>
      </div>
  </div>
  </div>
  <div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 2-->
  <div class="row">
      <div class="col-sm-4">
        <p><strong>CEP</strong></p>
        <p>{{form.cep}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Telefone</strong></p>
        <p>{{form.telefone}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Contato</strong></p>
        <p>{{form.contato}}</p>
      </div>
  </div>
  </div>
</div>
</form>
{% endblock %}

