{% extends 'base.html' %}

{% block header %}
<div class="row"> <!-- Cabecalho da página de Listas -->
    <div class="col-sm-4">
        <h4>Materiais: Fornecedor - Detalhe</h4>
    </div>   
    <div class="col-sm-5">
    </div>   
    <form>
        <div class="col-sm-1 text-right">
            <button title='Atualizar lista' class='btn btn-primary btn-sm' type='submit' formaction="{{ fornecedor.get_absolute_url }}">
            <span class="glyphicon glyphicon-refresh"></span></button>
        </div>
        <div class="col-sm-1 text-right">
            <button title='Listar Fornecedores' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'fornecedor:lista' %}">
            <span class="glyphicon glyphicon-list"></span></button>
        </div>
        <div class="col-sm-1 text-right">
        {% if perms.fornecedor.pode_administrar %}
            <button title='Novo Fornecedor' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'fornecedor:cria' %}">
            <span class="glyphicon glyphicon-plus"></span></button>
        {% endif %}
        </div>
    </form>
</div> 
{% endblock %}
{% block main %}
<hr>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
	<div class="row">
  		<div class="col-sm-4">
    		<p><strong>Razão Social</strong></p>
    		<p>{{fornecedor.razaosocial}}</p>
  		</div>
  		<div class="col-sm-3">
    		<p><strong>Nome Fantasia</strong></p>
    		<p>{{fornecedor.nomefantasia}}</p>
  		</div>
  		<div class="col-sm-3">
    		<p><strong>CNPJ</strong></p>
    		<p>{{fornecedor.cnpj}}</p>
  		</div>
      <div class="col-sm-2">
        <p><strong>Atividade</strong></p>
        <p>{{fornecedor.atividade}}</p>
      </div>
	</div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes linha 2-->
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Bairro</strong></p>
        <p>{{fornecedor.bairro}}</p>
      </div>
      <div class="col-sm-3">
        <p><strong>Estado</strong></p>
        <p>{{fornecedor.estado}}</p>
      </div>
      <div class="col-sm-3">
        <p><strong>Cidade</strong></p>
        <p>{{fornecedor.cidade}}</p>
      </div>
      <div class="col-sm-2">
        <p><strong>Complemento</strong></p>
        <p>{{fornecedor.complemento}}</p>
      </div>
  </div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes linha 2-->
	<div class="row">
      <div class="col-sm-4">
          <p><strong>CEP</strong></p>
          <p>{{fornecedor.cep}}</p>
      </div>
      <div class="col-sm-3">
        <p><strong>Endereço</strong></p>
        <p>{{fornecedor.endereco}}</p>
      </div>
      <div class="col-sm-3">
        <p><strong>Número</strong></p>
        <p>{{fornecedor.numero}}</p>
      </div>
  		<div class="col-sm-2">
          <p><strong>Situação</strong></p>
          {% if fornecedor.situacao %}
            <p><strong class='text-success'>APTO</strong></p>
          {% else %}
            <p><strong class='text-danger'>NÃO APTO</strong></p>
          {% endif %}
  		</div>
	</div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes linha 3-->
    <div class="row">
        <div class="col-sm-4">
          <p><strong>Contato</strong></p>
          <p>{{fornecedor.contato}}</p>
        </div>
        <div class="col-sm-3">
          <p><strong>E-mail</strong></p>
          <p>{{fornecedor.email}}</p>
        </div>
        <div class="col-sm-3">
          <p><strong>Telefone</strong></p>
          <p>{{fornecedor.telefone}}</p>
        </div>
         <div class="col-sm-2">
         </div>
      </div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes linha 4-->
    <div class="row">
        <div class="col-sm-4">
          <p><strong>Criado</strong></p>
          <p class='text-muted'>{{fornecedor.criado}}</p>
        </div>
        <div class="col-sm-3">
          <p><strong>Modificado</strong></p>
          <p class='text-muted'>{{fornecedor.atualizado}}</p>
        </div>
        <div class="col-sm-3">
          <p><strong>Por</strong></p>
          <p class='text-muted'>{{fornecedor.usuario}}</p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
{% endblock %}