{% extends 'base.html' %}

{% block header %}
<div class="row"> <!-- Cabecalho da página de Listas -->
    <div class="col-sm-4">
        <h4>Materiais: Compra - Detalhe</h4>
    </div>   
    <div class="col-sm-5">
    </div>   
    <form>
        <div class="col-sm-1 text-right">
            <button title='Atualizar lista' class='btn btn-primary btn-sm' type='submit' formaction="{{ compra.get_absolute_url }}">
            <span class="glyphicon glyphicon-refresh"></span></button>
        </div>
        <div class="col-sm-1 text-right">
            <button title='Listar Compras' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'compra:lista' %}">
            <span class="glyphicon glyphicon-list"></span></button>
        </div>
        <div class="col-sm-1 text-right">
        {% if perms.compra.pode_administrar %}
            <button title='Nova Compra' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'compra:cria' %}">
            <span class="glyphicon glyphicon-plus"></span></button>
        {% endif %}
        </div>
    </form>
</div> 
{% endblock %}
{% block main %}
<hr>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
	<div class="row">
  		<div class="col-sm-4">
        <p><strong>Fornecedor</strong></p>
        <p>{{compra.fornecedor}}</p>
  		</div>
      <div class="col-sm-1">
      </div>
  		<div class="col-sm-3">
        <p><strong>Nota Fiscal</strong></p>
        <p>{{compra.notafiscal}}</p>
  		</div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p><strong>Situação</strong></p>
        {% if compra.situacao %}
          <p>Compra Fechada</p>
        {% else %}
          <p>Compra em Aberto</p>
        {% endif %}
      </div>      
	</div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Data da Compra</strong></p>
        <p>{{compra.data_compra}}</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p><strong>Data da Entrega</strong></p>
        <p>{{compra.data_entrega}}</p>
      </div>
      <div class="col-sm-1">
      </div>  
      <div class="col-sm-3">
        <p><strong>Data de Pagamento</strong></p>
        <p >{{compra.data_pagamento}}
      </div>
  </div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
  <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <p><strong>Total da Compra</strong></p>
          <p>{{itemcomprasoma.custo__sum}}</p>
      </div>      
  </div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
<hr>
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Item</strong></p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p><strong>Custo do item</strong></p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p><strong>Armazém</strong></p>
      </div>      
  </div>
</div>
{% for obj in itemcompra %}
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
  <div class="row">
      <div class="col-sm-4">
        <p>{{obj.item}}</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p>{{obj.custo}}</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p>{{obj.armazem}}</p>
      </div>
  </div>
</div>
{% endfor %}
<div class="row col-sm-12"> <!-- Ítens da página de detalhes linha 3-->
<hr>
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Criado</strong></p>
        <p class='text-muted'>{{compra.criado}}</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p><strong>Modificado</strong></p>
        <p class='text-muted'>{{compra.atualizado}}</p>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <p><strong>Por</strong></p>
        <p class='text-muted'>{{compra.usuario}}</p>
      </div>
  </div>
</div>
{% endblock %}