{% extends 'base.html' %}
{% block header %}
<div class="row"> 
    <div class="col-sm-6">
        <h4>Quadro de Avisos</h4>
        <hr>
    </div>   
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
        <h4>Indicadores</h4>
        <hr>
    </div>  
</div> 
{% endblock %}
{% block main %}
<div class="row"> 
    <div class="col-sm-6">
      <p>22-09-2016 - <i>Incluído o demostrativo gráfico de compras.</i></p>
	  <p>30-08-2016 - <i>Inplementado base de compras.</i></p>
	  <p>11-08-2016 - <i>Implementado integridade de eventos vinculados.</i></p>
	  <p>29-07-2016 - <i>Implantado o sistema no ambiente Apache 2.4 por SSL.</i></p>
	  <p>20-07-2016 - <i>Migração da base de dados para o MySql Server 5.7.</i></p>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-5">
	  <div id="barras" style="width:400px;height:250px"></div>
	</div> 
</div>
{% endblock %}
{% block jquery %}
<script type="text/javascript">
	$(function() {
		meses = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
		var data = [ 	
					{% for mes in totais %}
						[ meses[{{forloop.counter}}-1] ,{% if mes.custo__sum %} {{mes.custo__sum}} {% else %} 0 {% endif %} ],
					{% endfor %}
				];
		var options = {
			grid: {
				borderWidth: 1,
			},
			legend: {
				backgroundColor: "#cbcbcb"
			},
			series: { 
				label: " Pagamentos (R$)",
				color: "red",
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
			xaxis: {
				mode: "categories",
				tickLength: 0
			},
		};
		$.plot("#barras", [ data ], options );
	});
</script> 
{% endblock %}
