<!DOCTYPE html>
<html lang='pt-br'>
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FIOCRUZ Regional MS</title>
	<link rel="shortcut icon" href="/static/images/favicon.ico"/>
	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/css/fiocruz.css'>
	<link rel='stylesheet' href='/static/css/login.css'>

</head>
<body style="background-color:#cbcbcb">
<div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form text-center">
          <form name="enviando" id="enviando" action="{% url 'login' %}" method="post">
          {% csrf_token %}
            <fieldset>
            	<h3>FIOCRUZ</h3>
          		<h4>Mato Grosso do Sul</h4>
          		<div class="clearfix">
                	<input class="form-group input-sm" type="text" id="id_username" name="username" class="form_control" placeholder="Usuário" required autofocus>
              	</div>
	            <div class="clearfix">
	                <input class="form-group input-sm" type="password" id="id_password" name="password" class="form_control" placeholder="Senha" required>
	              </div>
	            <div class="clearfix">
	            {% if form.errors %}
	            	<br>
					<div class="alert alert-default">
						<button type="btn-sm" class='close'></button><span class="glyphicon glyphicon-info-sign"></span> Ops, não foi possível.
					</div>
				{% endif %}
				</div>
              	<div> 
              	<button type="submit">Button de envio escondido pelo CSS.</button>
              	</div> <!--
              	<input type="hidden" name="next" value="{{ lista }}"> <!-- Encaminha para página -->
            </fieldset>
          </form>
        </div>
      </div>
    </div>
</div> <!-- /container -->
{% block footer %}
	{% include 'footer_login.html' %}
{% endblock %}
<div>
	<script src="/static/js/jquery.min.2.2.4.js"></script>
	<script src='/static/js/bootstrap.min.js'></script>
</div>
</body>
</html>