{% extends 'base.html' %}

{% block header %}
<div class="row"> <!-- Cabecalho da página de Listas -->
    <div class="col-sm-4">
        <h4>Detalhe do Ítem</h4>
    </div>   
    <div class="col-sm-5">
    </div>   
    <form>
        <div class="col-sm-1 text-right">
            <button title='Atualizar lista' class='btn btn-primary btn-sm' type='submit' formaction="{{ item.get_absolute_url }}">
            <span class="glyphicon glyphicon-refresh"></span></button>
        </div>
        <div class="col-sm-1 text-right">
            <button title='Listar Itens' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'item:lista' %}">
            <span class="glyphicon glyphicon-list"></span></button>
        </div>
        <div class="col-sm-1 text-right">
        {% if perms.item.pode_administrar %}
            <button title='Novo Ítem' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'item:cria' %}">
            <span class="glyphicon glyphicon-plus"></span></button>
        {% endif %}
        </div>
    </form>
</div> 
{% endblock %}
{% block main %}
<hr>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes Linha 1-->
	<div class="row">
  		<div class="col-sm-4">
    		<p><strong>Nome</strong></p>
    		<p>{{item.nome}}</p>
  		</div>
  		<div class="col-sm-4">
    		<p><strong>Estoque</strong></p>
    		<p>{{item.estoque}}</p>
  		</div>
  		<div class="col-sm-4">
  		</div>
	</div>
</div>
<div class="row col-sm-12"> <!-- Ítens da página de detalhes linha 3-->
  <div class="row">
      <div class="col-sm-4">
        <p><strong>Criado</strong></p>
        <p class='text-muted'>{{item.criado}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Modificado</strong></p>
        <p class='text-muted'>{{item.atualizado}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Por</strong></p>
        <p class='text-muted'>{{item.usuario}}</p>
      </div>
  </div>
</div>
{% endblock %}
