{% extends 'base.html' %}
{% block header %}
<div class="row">
    <div class="col-sm-4">
        <h4>Materias: Itens</h4>
    </div>
    <form method='GET' action=''>
	    <div class="col-sm-4">
	        <div class="input-group">
	            <input name="q" class="form-control" id="search" type="text" placeholder="Pesquisar Item" value='{{request.GET.q}}'>
		            <span class="input-group-btn">
	                <button title='Pesquisar' class="btn btn-primary" type="submit">
	                    <span class="glyphicon glyphicon-search"></span>
	                </button>
	            </span>
	        </div>
		</div> <!-- Pesquisa -->
    </form>
	<div class="col-sm-2">
	</div>
    <form>
    	<div class="col-sm-1 text-center">
        	<button title='Atualizar lista' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'item:lista' %}">
	        	<span class="glyphicon glyphicon-refresh"></span></button>
    	</div>
    	<div class="col-sm-1 text-center">
    	{% if perms.item.pode_administrar %}
        	<button title='Novo Ítem' class='btn btn-primary btn-sm' type='submit' formaction="{%  url 'item:cria' %}">
	        	<span class="glyphicon glyphicon-plus"></span></button>
	    {% endif %}
    	</div>
   	</form>
</div>
{% endblock %}
{% block main %}
	<br><br>
	<div class='row'>	<!-- Cabeçalho-->
		<div class='col-sm-12'>
		    <ul class="list-inline">
		    	<div class='col-sm-1 text-center'>
		        	<li><strong>ID</strong></li>
		        </div>
		        <div class='col-sm-1'>
	        	</div>
		        <div class='col-sm-4'>
		        	<li><strong>NOME</strong></li>       
		        </div>
		        <div class='col-sm-1'>
	        	</div>
		        <div class='col-sm-2'>
		        	<li><strong>ESTOQUE</strong></li>
		        </div>
		        <div class='col-sm-1'>
	        	</div>
		        <div class='col-sm-2 text-center'>
		        	<li><strong>OPÇÕES</strong></li>
		    	</div>
		    </ul>
	    </div>
    </div><hr>
	{% for obj in itens %} <!-- Itens-->
	    <div class='row'><br> 
	    	<div class='col-sm-12 text-muted'>
			    <ul class="list-inline">
			    <div class='col-sm-1'>
			        <li class='text-center'>{{forloop.counter}}</li>
			    </div>
			    <div class='col-sm-1'>
	        	</div>
			    <div class='col-sm-4'>
			        <li>{{obj.nome}}</li>
			    </div>       
			    <div class='col-sm-1'>
	        	</div>
			    <div class='col-sm-2'>
			    	{% if obj.estoque == 0 %}
				        <li class='text-danger'>{{obj.estoque}}</li>
				    {% else %}
				    	<li class='text-sucess'>{{obj.estoque}}</li>
				    {% endif %}
			    </div>
			    <div class='col-sm-1'>
	        	</div>
			    <div class='col-sm-2 text-center'>
	                <a href='{{ obj.get_absolute_url }}'>
	                   	<span title='Visualizar' class="glyphicon glyphicon-zoom-in"></span>
	                </a>&nbsp;&nbsp;&nbsp;
	                {% if perms.item.pode_administrar %}
	                <a href='{% url "item:edita" obj.id %}'>
	                   	<span title='Editar' class="glyphicon glyphicon-pencil"></span>
	                </a>&nbsp;&nbsp;&nbsp;
	                <!-- <a href='{% url "item:apaga" obj.id %}'> -->
	                <a href="javascript:func()" onclick="confirmacao('{% url "item:apaga" obj.id %}')">
	                   	<span style="color:red" title='Excluir' class="glyphicon glyphicon-trash"></span>
	                </a>
	                {% endif %}
			    </div>
			    </ul>
		    </div>
	  	</div>
	{% endfor %}
	<hr>
	<div class='text-center'>
	<div class="pagination"> <!-- Paginação-->
	    <span class="step-links">
	        {% if itens.has_previous %}
	            <a href="?{{ page_request_var }}={{ itens.previous_page_number }}"><strong><< </strong></a>
	        {% endif %}

	        <span class="current">
	            {{ itens.number }} / {{ itens.paginator.num_pages }}
	        </span>

	        {% if itens.has_next %}
	            <a href="?{{ page_request_var }}={{ itens.next_page_number }}"><strong> >></strong></a>
	        {% endif %}
	    </span>
	</div>
	</div>
{% endblock %}

{% block jquery %}
	<script language="Javascript">
		function confirmacao(id) {
			var resposta = confirm("Deseja remover este item ?");
   			if (resposta == true) {
      			window.location.href = id;
   			}
		}
	</script>
{% endblock %}